h1 {
  position: static;
  width: 327px;
  height: 124px;
  left: 24px;
  top: 120px;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

h2 {
  position: static;
  width: 327px;
  height: 27px;
  left: 24px;
  top: 256px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.nav {
  height: 92px;
  left: 0px;
  top: 0px;
  position: absolute;
  width: 375px;
  display: flex;
  background: #3c3a39;
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  position: absolute;
  width: 375px;
  height: 590px;
  background: #1c1a19;
  overflow: hidden;
}

p {
  position: static;
  width: 327px;
  height: 123px;
  left: 24px;
  top: 295px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 0;
}

.okumu {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 55px;
  left: 30px;
}

.fa.fa-bars {
  color: #f3efe7;
  position: absolute;
  top: 55px;
  right: 35px;
}

.fa.fa-bars:hover {
  color: #ff6b00;
}

.socials {
  color: #d4d1ca;
  display: flex;
}

/* .socials:hover {
  color: #ff6b00;
} */

.okumu:hover {
  color: #ff6b00;
}
